body{

font-family:Arial;

background:#f4f6f8;

text-align:center;

}

.container{

width:80%;

margin:auto;

background:white;

padding:30px;

margin-top:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

button{

padding:12px 30px;

font-size:18px;

background:#2196F3;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#1565c0;

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

table,th,td{

border:1px solid gray;

}

th{

background:#2196F3;

color:white;

}

td,th{

padding:10px;

}

.card{

background:#e8f5e9;

padding:20px;

border-radius:10px;

margin-bottom:20px;

font-size:20px;

}